.testScores {
    padding-left: 2rem;
    grid-column: 2/4;
    font-size: 1.2rem;
}

.showHideButton {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: gray;
    align-self: baseline;
    justify-self: end;
    grid-column: 4/4;
    grid-row: 1/2;
    position: relative;
    top: 1rem;
}