.students {
    scroll-behavior: smooth;
}

.singleStudent {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

.studentInfo {
    font-size: 1.2rem;
}

.singleStudent img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0;
}

.profilePicture {
    border-radius: 50%;
    border: 1px solid gray;
    margin: 3rem;
}

.studentEmail, .studentCompany, .studentSkill, .studentAverage {
    padding-left: 2rem;
}

.showHideButton {
    border: none;
    background-color: transparent;
    font-size: 3rem;
    color: gray;
}